option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: ec2keypair

    # ID for the VPC created
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-e1a78785

    # ID for the private subnet
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-c3562a9b

    # ID for the elastic load balancer
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-c4562a9c

  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: subnet-6898ab0c

    # Instance to use for autoscaling
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: m1.small

    # SecurityGroups for the VPC
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-53580b35